html{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    
    
}

img{
    max-width: 100%;
    height: 100%;
}
section {
    height: 100vh;
}
.navbar{
    height: 60px;
position: sticky;
top: 0;
width: 100%;
background-color: #242635;

}
.navbar__container{
    display: flex;
    width: 100%;
    height: inherit;
    justify-content:flex-end;
    gap: 1rem;
    position: relative;
    background-color: #242635;
    
}
.navbar__menu{


width: 100%;
background-color: #242635;
}
.navbar__list{
height: 100%;
    display: flex;

    gap: 1rem;
    width: 100%;
background-color: #242635;
align-items: center;
justify-content: flex-end;


}
.navbar__list > a{
text-decoration: none;
color:#ffffff;
}


.wrapper{
   /* margin-top: 40px;*/
   border: 1px solid #34b0be;
    background-color: #242635;
}
h2{
    color: white;
}

.service__container{
    display: flex;
   justify-content: center;
}



@media (max-width : 500px){
    .navbar__menu{
        position: absolute;
        border: 1px solid #312222;
        width: 100%;
        background-color:#242635;
        }
    
    .navbar__list{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
       
    }
    #btnClose{
        color: white;
        font-size: large;
    }
    .navbar__button > i {
         color: white ;
        }
    
    }



@media (min-width : 500px){

   #btnClose{
    display: none;
            }
            
 .navbar__button > i {
    display: none;
    align-items: center;
    padding-right: 1rem;
    background-color: #242635;
               
            }   


}
